div{
  background-color: aquamarine;
  height: 100px;
  width: 100px;
}
section{
  width: 100%;
  height: 300px;
  background-color: rgb(218, 140, 140);
}
#tiendita{
  width: 100%;
  height: 300px;
  background-color: rgb(218, 140, 140);
}
#listaArticulos{
  width: 100%;
}